[submodule "submodule/wpcrud"]
	path = submodule/wpcrud
	url = https://github.com/limikael/wpcrud
[submodule "submodule/wprecord"]
	path = submodule/wprecord
	url = https://github.com/limikael/wprecord
