/**** Track and listing. ****/
img.course-completed {
    position: absolute;
    right: 10px;
    top: 60px;
}

.after-info {
    background: #e0e0e0;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    color: #404040;
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

.after-info a {
    color: #404040;
    text-decoration: none;
    font-weight: bold;
}

.after.listing {
    background: #e0e0e0;
}

.course-info {
    background: #fff0a0;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #808000;
    border-radius: 5px;
    vertical-align: center;
    height: 100%;
}

.course-info a {
    font-weight: bold;
    color: #008000;
    text-decoration: none;
}

.masonry-loop{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;

}

.listing{
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    width: 30.333333%;
    margin: 1.5%;
    float: left;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    margin-bottom: 25px;

    /* -moz-border: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px; */
    border-radius: 6px;
}

.listing-info{
    width: 100%;

    background-color: white;

    border: 1px solid #009900;

    -moz-border: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.listing-info .header{
    width: 100%;
    height: auto;
    -moz-border: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.listing-info .title{
    top: 0;
    padding: 15px 0px;
    color: white;
    background-color: #009900;
    display: block;
    width: 100%;
    left: 0;
    font-size: 18px;
    text-indent: 7px;
    text-align: center;
    text-transform: capitalize;

    -moz-border: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

}

.listing-info .description,
.listing-info .header{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.listing-info .description .swag{
    color: #808080;
    font-size: 13px;
    height:20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listing-info .description .swag img {
    height: 20px;
    vertical-align: middle;
}

.listing-info .description .excerpt {
    margin-top: 10px;
}

.listing-info .description{

    padding: 15px;

}

.listing-info .footer{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    padding: 15px;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;


    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    align-content: center;

    text-align: center;
}

.listing-info .footer a,
.listing-info .footer a:visited{
    border: 1px solid #C36E4D;
    background: white;
    padding: 10px 15px;
    color: #C36E4D;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 1000px;
}

.listing-info .footer a:focus,
.listing-info .footer a:hover{
    border: 1px solid #C36E4D;
    background: #C36E4D;
    color: white;
}

.listing-info .footer a:active{
    background: #714126;
    color: #a77354;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7) inset;
}

.course .listing-info .title{
    background-color: #88C83C;
}

.course .listing-info{
    border-color: #88C83C;
}


.listing-info .list-count,
.listing-info .list-link{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;

    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

}

.listing-info .list-count{
    padding: 10px;
    font-weight: bold;
}


@media only screen and ( max-width: 480px ) /* mobile */{
    .listing{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        width: 100%;
        float: left;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
        margin-bottom: 25px;
    }

}

@media only screen and ( min-width: 481px ) and ( max-width: 767px ) /* tablet */{
    .listing{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        width: 48%;
        margin: 1%;
        float: left;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
        margin-bottom: 25px;
    }

}

.course.listing.unprepared {
    display: none;
}

/**** Content. ****/
#swagpath-header {
    position: relative;
}

.swagpath-badge {
    position: absolute;
    height: 80px;
    top: -15px;
    right: 0;
}

#content p {
    margin-bottom: 30px;
}

@media only screen and ( max-width: 480px ) /* mobile */{
    #content{
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and ( min-width: 481px ) and ( max-width: 767px ) /* tablet */{
    #content{
        margin-left: 30px;
        margin-right: 30px;
    }
}

.content-tab-wrapper {
    position: relative;
}

.content-tab-content {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 45px;
}

.content-tab-content h1 {
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    color: #a0a0a0;
}

.content-tab-list {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    padding-top: 20px;
}

.content-tab-list li {
    display: block;
    height: 45px;
    width: 45px;
    margin: 1px;
}

.content-tab-list li.selected {
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    margin: 0;
}

img.coursepresentation {
    margin-left: 5px;
    margin-top: 5px;
}

/**** Swag. ****/
.swag-badge-container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
}

.swag-badge-image {
    width: 200px;
}

.swag-badge-label {
    top: 100px;
    margin-left: 45px;
    width: 100px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    background: #ff8040;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/**** Swagmap. ****/
#swagmapcontainer {
    width: 100%;
    float:left;
    background: #D3D3D3;
}
#swag_description_container{
    position:bottom;
    margin-top: 0%;
    background:#ffffff;
}

.swagmap-link {
    stroke: #000;
    stroke-width: 2;
}

.swagmap-link-end {
    fill: #000000;
}

.swagmap-swag-node circle {
    fill-opacity: 0;
    /*stroke: #53ad35;*/
    stroke-width: 5px;
}

.swagmap-swag-node circle.completed {
    /*fill: #53ad35;*/
    fill-opacity: 1;
}

.swagmap-swagpath-node circle {
    fill: #000000;
    fill-opacity: 0;
    stroke-width: 0;
}

.swagmap-swagpath-node text {
    /*cursor: pointer;*/
    font: 10px sans-serif;
    text-anchor: middle;
    fill: #000000;
    font-weight: bold;
}

.swagmap-swagpath-node text:hover {
    fill: #53ad35;
}

.swagmap-swag-node text {
    cursor: pointer;
    font: 12px sans-serif;
    text-anchor: middle;
    fill: #ffffff;
/*  stroke: #000000;
    font-weight: bold;*/
    text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
}

.swagmap-swag-node text:hover {
    fill: #40ff40;
}

/** Lesson Plan Buttons **/
.button-lessonplan {
	color: white;
	background-color: #0A6C39;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
		cursor: pointer;
}

.button-lessonplan:enabled:hover {
	background-color: #88C83C
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/** Admin. **/
.swag-admin-confirm {
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;
    padding-top: 10px;
    background: #ffffff;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 0 0 10px #888888;
    display: none;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -80px;
}

.swag-admin-confirm .button {
    margin-top: 20px;
}

/**** Breadcrumbs ****/
#breadcrumbs {
    padding-left: none;
}
#breadcrumb {
  list-style: none;
  display: inline-block;
  padding-left: 0;
}
#breadcrumb li {
    float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #88C83C;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
    background-color: #0A6C39; }
#breadcrumb li:nth-child(even) a:before {
  border-color: #0A6C39;
  border-left-color: transparent; }
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #0A6C39; }
#breadcrumb li:first-child a {
  padding-left: 15px; }
#breadcrumb li:first-child a:before {
  border: none; }
#breadcrumb li:last-child a {
  padding-right: 15px; }
#breadcrumb li:last-child a:after {
  border: none; }
#breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
  position: absolute;
  top: 0;
  border: 0 solid #88C83C;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
 left: -20px;
 border-left-color: transparent;
}
#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #88C83C;
}
#breadcrumb li a:hover {
    background-color: #564740;
}
#breadcrumb li a:hover:before {
  border-color: #564740;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #564740;
}
#breadcrumb li a:active {
  background-color: #000000;
}
#breadcrumb li a:active:before {
    border-color: #000000;
    border-left-color: transparent;
 }
#breadcrumb li a:active:after {
    border-left-color: #000000;
}
